@page "/modaltest"

<button @onclick="e => IsModalOpened = true">Open modal</button>

@if (SelectedButton != null)
{
    <p>You have selected @SelectedButton</p>
}

@* 👇 Use the modal component *@
<Modal @bind-Open="IsModalOpened" Close="OnClose">
    <div class="foundry_modal text-center reveal-modal" modal-link="2" method="dialog">
        <i class="ti-close close-modal" @onclick="CancelModal"></i>
        <h3 class="uppercase">Sign Up &amp; Be Cool.</h3>
        <p class="lead mb48">
            Stay in the loop with our awesome newsletter. We'll send you monthly
            <br> updates of our latest and greatest tools and resources.
        </p>
        <form class="form-newsletter halves" data-success="Thanks for your registration, we will be in touch shortly." data-error="Please fill all fields correctly.">
            <input type="text" name="email" class="mb0 validate-email validate-required  signup-email-field" placeholder="Email Address">
            <a class="btn btn-lg btn-filled" href="#" @onclick="ButtonClicked">Download</a>
        </form>
    </div>
</Modal>

@code{
    public bool IsModalOpened { get; set; }
    public string SelectedButton { get; set; }

    void OnClose(string value)
    {
        SelectedButton = value;
    }

    void CancelModal()
    {
        IsModalOpened = false;
    }

    void ButtonClicked()
    {
        //TODO: Execute Call-To-Action
        IsModalOpened = false;
        OnClose("ss");
    }
}