@inject DigitalMarketing.Web.Model.TenantConfigurationSession SiteState

<section class="pt0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="uppercase mb80 mb-xs-40">You May Also Like</h4>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="image-tile outer-title text-center">
                    <a href="#">
                        <img alt="Pic" class="product-thumb" src="img/shop-product-1.jpg">
                    </a>
                    <div class="title">
                        <h5 class="mb0">
                            Adrian
                            <br> LambsWool Cap
                        </h5>
                        <span class="display-block mb16">$49.95</span>
                    </div>
                </div>
            </div>
            <!--end three col-->
            <div class="col-md-3 col-sm-4">
                <div class="image-tile outer-title text-center">
                    <a href="#">
                        <img alt="Pic" class="product-thumb" src="img/shop-product-2.jpg">
                    </a>
                    <div class="title">
                        <h5 class="mb0">
                            Stanley
                            <br> Leather Wallet
                        </h5>
                        <span class="display-block mb16">$69.95</span>
                    </div>
                </div>
            </div>
            <!--end three col-->
            <div class="col-md-3 col-sm-4">
                <div class="image-tile outer-title text-center">
                    <a href="#">
                        <img alt="Pic" class="product-thumb" src="img/shop-product-7.jpg">
                    </a>
                    <div class="title">
                        <h5 class="mb0">
                            Vladimir
                            <br>Stainless Flask
                        </h5>
                        <span class="display-block mb16">$49.95</span>
                    </div>
                </div>
            </div>
            <!--end three col-->
            <div class="col-md-3 col-sm-4">
                <div class="image-tile outer-title text-center">
                    <a href="#">
                        <img alt="Pic" class="product-thumb" src="img/shop-product-3.jpg">
                    </a>
                    <div class="title">
                        <h5 class="mb0">
                            Luka
                            <br>Vintage Camera
                        </h5>
                        <span class="display-block mb16">$259</span>
                    </div>
                </div>
            </div>
            <!--end three col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

@code {

}
