@page
@model IndexModel
@{
    ViewData["Title"] = "Templates";
}

<div class="text-center">
    <h4 class="display-4">Templates</h4>

    <p><a href="~/Materialize/index.html" target="_blank">Materialize 6.0</a></p>
    <p><a href="~/Foundry/index.html" target="_blank">Foundry 1.9.9.1</a></p>
    <p><a href="~/Wohoo/index.html" target="_blank">Wohoo</a></p>
</div>
