@page "/admin"

@using DigitalMarketing.Web.Website.Components
@*@using DigitalMarketing.Web.Components.Content*@
@using DigitalMarketing.Web.Website.Components.CTA
@using DigitalMarketing.Web.Website.Components.Countdown
@using DigitalMarketing.Web.Website.Components.Pricing
@using DigitalMarketing.Web.Website.Components.Tabs
@using DigitalMarketing.Model.Database
@using Microsoft.AspNetCore.Http
@using  DigitalMarketing.Model
@using  DigitalMarketing.Model.Extensions
@inject DigitalMarketing.Model.DatabaseRepository DatabaseRepository
@inject DigitalMarketing.Web.Model.TenantConfigurationSession SiteState


<h1>Single file</h1>

<p>A single file input that uploads automatically on file selection</p>

<InputFile OnChange="HandleSelection" />

<p>@status</p>

<img src="data:image/webp;base64,@_base64" />




@code {
    string status;
    string _base64;

    async Task HandleSelection(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();
        if (file != null)
        {
            // Just load into .NET memory to show it can be done
            // Alternatively it could be saved to disk, or parsed in memory, or similar
            var ms = new MemoryStream();
            await file.Data.CopyToAsync(ms);
            var b = ms.ToArray();

            _base64 = Convert.ToBase64String(b, 0, b.Length);

            status = $"Finished loading {file.Size} bytes from {file.Name} {_base64}";
            StateHasChanged();
        }
    }
}