<div class="alert alert-danger alert-dismissible" role="alert">
    NOTA: Todos nuestros programas están sujetos a los cambios que puedan presentarse debido a la crisis sanitaria por COVID-19. Nuestra empresa AIS Walker responde 100% al reglamento migratorio del gobierno de Nueva Zelanda.
</div>

@code {

}
