@inject DigitalMarketing.Web.Model.TenantConfigurationSession SiteState

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4 class="uppercase mb16">Extended Plans</h4>
                <p class="lead mb64">
                    Perfect for plans with greater detail. Alter appearance with '.boxed' and '.emphasis' classes
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="pricing-table pt-2 text-center">
                    <h5 class="uppercase">Starter</h5>
                    <span class="price">$12</span>
                    <p class="lead">Per Month</p>
                    <a class="btn btn-filled btn-lg" href="#">Get Started</a>
                    <ul>
                        <li>
                            <strong>Unlimited</strong> access to content
                        </li>
                        <li>
                            <strong>Fully Secure</strong> online backup
                        </li>
                        <li>
                            <strong>One Year</strong> round the clock support
                        </li>
                        <li>
                            <strong>FREE</strong> complimentary lanyard
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricing-table pt-2 boxed text-center">
                    <h5 class="uppercase">Starter</h5>
                    <span class="price">$12</span>
                    <p class="lead">Per Month</p>
                    <a class="btn btn-filled btn-lg" href="#">Get Started</a>
                    <ul>
                        <li>
                            <strong>Unlimited</strong> access to content
                        </li>
                        <li>
                            <strong>Fully Secure</strong> online backup
                        </li>
                        <li>
                            <strong>One Year</strong> round the clock support
                        </li>
                        <li>
                            <strong>FREE</strong> complimentary lanyard
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricing-table pt-2 emphasis text-center">
                    <h5 class="uppercase">Starter</h5>
                    <span class="price">$12</span>
                    <p class="lead">Per Month</p>
                    <a class="btn btn-white btn-lg" href="#">Get Started</a>
                    <ul>
                        <li>
                            <strong>Unlimited</strong> access to content
                        </li>
                        <li>
                            <strong>Fully Secure</strong> online backup
                        </li>
                        <li>
                            <strong>One Year</strong> round the clock support
                        </li>
                        <li>
                            <strong>FREE</strong> complimentary lanyard
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </div>

</section>

@code {

}
