@using DigitalMarketing.Model.Settings
@using DigitalMarketing.Core.Database

<section class="pb0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h3>A unique, process driven approach to delivering outstanding results for our partners.</h3>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="feature feature-3 mb-xs-24 mb64">
                    <div class="left">
                        <i class="ti-panel icon-sm"></i>
                    </div>
                    <div class="right">
                        <h5 class="uppercase mb16">Expert, Modular Design</h5>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                        </p>
                    </div>
                </div>
                <!--end of feature-->
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature feature-3 mb-xs-24 mb64">
                    <div class="left">
                        <i class="ti-medall icon-sm"></i>
                    </div>
                    <div class="right">
                        <h5 class="uppercase mb16">Trusted, Elite Author</h5>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                        </p>
                    </div>
                </div>
                <!--end of feature-->
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature feature-3 mb-xs-24 mb64">
                    <div class="left">
                        <i class="ti-layout icon-sm"></i>
                    </div>
                    <div class="right">
                        <h5 class="uppercase mb16">Ultimate Flexibility</h5>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                        </p>
                    </div>
                </div>
                <!--end of feature-->
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature feature-3 mb-xs-24 mb64">
                    <div class="left">
                        <i class="ti-comment-alt icon-sm"></i>
                    </div>
                    <div class="right">
                        <h5 class="uppercase mb16">Dedicated Support</h5>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                        </p>
                    </div>
                </div>
                <!--end of feature-->
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature feature-3 mb-xs-24">
                    <div class="left">
                        <i class="ti-infinite icon-sm"></i>
                    </div>
                    <div class="right">
                        <h5 class="uppercase mb16">Endless Layouts</h5>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                        </p>
                    </div>
                </div>
                <!--end of feature-->
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature feature-3 mb-xs-24">
                    <div class="left">
                        <i class="ti-dashboard icon-sm"></i>
                    </div>
                    <div class="right">
                        <h5 class="uppercase mb16">Built for Performance</h5>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                        </p>
                    </div>
                </div>
                <!--end of feature-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

@code {
    [Parameter]
    public Tenant Tenant { get; set; }

    [Parameter]
    public Section Section { get; set; }
}
