@using DigitalMarketing.Model.Settings
@using DigitalMarketing.Core.Database
@inject IJSRuntime JSRuntime

<section class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="mb16">@Section.Title</h3>
                <p class="lead mb64">
                    @Section.Paragraph
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="lightbox-grid square-thumbs" data-gallery-title="Gallery">
                    <ul>
                        @foreach (var image in @Section.Images)
                        {
                            <li>
                                <div class="background-image-holder">
                                    <img alt="image" class="background-image" src="@image">
                                </div>
                            </li>
                        }
                    </ul>
                </div>

            </div>
        </div>

    </div>

</section>

@code {
    [Parameter]
    public Tenant Tenant { get; set; }

    [Parameter]
    public Section Section { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeAsync<object>("SetGallery");
    }
}
