@using DigitalMarketing.Model.Settings
@using DigitalMarketing.Core.Database

<section class="p0">
    <div class="map-holder pt180 pb180">
        <iframe src="@Section.Url"></iframe>
    </div>
</section>

@code {
    [Parameter]
    public Tenant Tenant { get; set; }

    [Parameter]
    public Section Section { get; set; }
}
