@using DigitalMarketing.Web.Model
@inject TenantConfigurationSession SiteState

<section class="p0">
    <div class="map-holder pt180 pb180">
        <iframe src="@SiteState.Settings.ThirdPartyServices.GoogleMaps.Url"></iframe>
    </div>
</section>

@code {

}
