@using DigitalMarketing.Model.Settings
@using DigitalMarketing.Core.Database
@inject IJSRuntime JSRuntime

<div class="nav-container" style="min-height: 55px;">
    <a id="top"></a>
    <nav class="bg-light">
        <div class="nav-bar">
            <div class="module left">
                <a href="index.html">
                    <img class="logo logo-light" alt="Foundry" src="tenants/aiswalker/logo.jpg">
                    <img class="logo logo-dark" alt="Foundry" src="tenants/aiswalker/logo.jpg">
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Quienes Somos
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Testimonios
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Contacto
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>

@code {
    [Parameter]
    public Tenant Tenant { get; set; }

    [Parameter]
    public Section Section { get; set; }
}
