@inject DigitalMarketing.Web.Model.TenantConfigurationSession SiteState

<section class="bg-primary">
    <div class="container">
        <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
            <h1 class="mb8">Meet Foundry, Your Design Toolkit.</h1>
            <p class="lead mb48">
                Perfect for those advertising a new product or service who wish to drive subscribers.
            </p>
            <form class="form-newsletter thirds" data-success="Thanks for your submission, we will be in touch shortly." data-error="Please fill all fields correctly.">
                <input type="text" name="name" class="validate-required signup-name-field" placeholder="Your Name">
                <input type="text" name="email" class="validate-required validate-email signup-email-field" placeholder="Email Address">
                <a class="btn btn-lg">Keep Me Informed</a>
                <p class="sub text-center">
                    By signing up, you agree to our
                    <a href="#">Terms Of Service</a>
                </p>
            </form>
        </div>

    </div>

</section>
