@inject DigitalMarketing.Web.Model.TenantConfigurationSession SiteState

<section>
    <div class="container">
        <div class="row mb64 mb-xs-24">
            <div class="col-sm-12 text-center spread-children-large">
                <img alt="Pic" src="img/avatar1.png">
                <img alt="Pic" src="img/avatar2.png">
                <img alt="Pic" src="img/avatar3.png">
                <img alt="Pic" src="img/avatar4.png">
                <img alt="Pic" src="img/avatar5.png">
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h2>Built by professionals, just for you.</h2>
                <p class="mb40 mb-xs-24">
                    Foundry is a remarkably complete template offering you a plethora of handcrafted design elements. Whether promoting a product, service or portfolio - Foundry's unique and flexible style has you covered.
                </p>
                <a class="mb0 btn btn-lg btn-filled" href="#purchase-template">Purchase Foundry</a>
            </div>
        </div>

    </div>

</section>

