@using DigitalMarketing.Model.Settings
@using DigitalMarketing.Web.Model
@inject IJSRuntime JSRuntime
@inject TenantConfigurationSession SiteState

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4 class="uppercase mb64 mb-xs-40">@Section.Title</h4>
            </div>
        </div>

        <div class="row">
            <div class="logo-carousel">
                <ul class="slides">
                    @foreach (var image in @Section.Images)
                    {
                        <li>
                            <a href="#">
                                <img alt="Logo" src="@image">
                            </a>
                        </li>
                    }
                </ul>
            </div>

        </div>

    </div>

</section>


@code {
    [Parameter]
    public DigitalMarketing.Model.Settings.Section Section { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeAsync<object>("SetCarrousel");
    }
}
